/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

a {
    color: inherit;
    text-decoration: none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import "components/table";

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor..
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.transition {
    transition: all .1s ease-in;
}

.focus\:outline-0:focus {
    outline: 0;
}

.tag {
    @apply inline-block bg-grey-lighter rounded-full px-3 py-1 text-xs text-grey-darker mr-2;

    &:hover {
        @apply bg-blue;
        @apply text-white;
        text-decoration: none;
    }
}

.table-component__filter {
    @apply relative;

    .table-component__filter__clear {
        @apply absolute pin-r pin-t pt-2 pr-4 .text-lg;
        @apply text-grey-dark;
        @apply cursor-pointer;
    }
}

input[type="checkbox"],
.checkbox input[type="checkbox"] {
    @apply relative;
    @apply border-0;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -2px;
        margin-right: 5px;
        @apply border-2 border-grey rounded transition;
    }

    &:checked:before {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        display: table;
        width: 6px;
        height: 12px;
        border: 2px solid #fff;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
    }

    &:checked:after {
        @apply bg-blue border-blue;
    }
}


[v-cloak] {
    display: none !important;
}

.cloak-fade:not([v-cloak]) {
    opacity: 0;
    -webkit-animation-name: cloak-fade-in;
    animation-name: cloak-fade-in;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes cloak-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-.1rem);
        transform: translateY(-.1rem)
    }

    to {
        opacity: 1
    }
}

@keyframes cloak-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-.1rem);
        transform: translateY(-.1rem)
    }

    to {
        opacity: 1
    }
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;